DATABASE_URL="postgresql://<user>:<password>@localhost:5433/<db>?schema=public"
PORT=3001
NODE_ENV=development
JWT_SECRET=cambia_esto_por_un_secreto_largo_y_seguro
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=contraseña_segura_aqui
ADMIN_USERNAME=admin
